{
  "printWidth": 80,
  "tabWidth": 2,
  "userTabs": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "parser": "sql",
  "plugins": ["prettier-plugin-slq"]
}
